.userDetailsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 var(--spacing)
}

.userDetailsContainer .displayName {
    font-weight: bold;
}

.followersContainer .value {
    font-weight: bold;
    margin-right: 5px;
}

.followersContainer span:not(.value) {
    color: var(--greyText);
}

.followersContainer a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--greyText);
}

.followersContainer a:hover {
    border-bottom: 1px solid black;
    color: var(--greyText);
}