:root {
    --blueBackground: rgba(212, 237, 255, 0.6);
}

.profileButtonsContainer {
    padding: var(--spacing);
    min-height: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.messageButton,
.followButton {
    border: 1px solid var(--twitter-blue);
    color: var(--twitter-blue);
    padding: 5px 15px;
    border-radius: 60px;
    display: inline-block;
    margin-left: var(--spacing);
    font-weight: bold;
    min-height: 100%;
}

.messageButton:hover,
.followButton:hover {
    background-color: var(--blueBackground);
}

.followButton.following {
    background-color: var(--twitter-blue);
    color: #fff;
}