.senderName {
    color: rgba(0,0,0,0.6);
    font-size: small;
}

.message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

/* Appends logged in users messages to the right hand side. */
.chatMessages .message.isUsers {
    flex-direction: column;
}

/* Changes background colour based on if it's the logged in user's message. */
.chatMessages .message.isUsers .messageBody {
    background-color: var(--twitter-blue);
    color: #fff;
}

/* Slightly change the last message corner as it is on Twitter */
.message.isUsers.lastMessage .messageBody {
    border-bottom-right-radius: 2px;
}

/* Other users */ 

/* Slightly change the last message top right corner as it is on Twitter */
.message.isOthers.lastMessage .messageBody {
    border-top-left-radius: 2px;
}