.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer img:not(:last-child),
.userCount {
    margin-left: -10px;
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}

.userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.chatTitle {
    margin-left: var(--spacing);
    border: 1px solid transparent;
    cursor: pointer;
}