.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.chatMessages .message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.isUsers {
    flex-direction: column;
}

.chatMessages .message.isUsers .messageBody {
    background-color: var(--twitter-blue);
    color: #fff;
}

.message.isUsers.firstMessage .messageBody {
    border-bottom-right-radius: 2px;
}

.message.isUsers:not(.firstMessage):not(.lastMessage) .messageBody {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.message.isUsers.lastMessage .messageBody {
    border-bottom-right-radius: 18px;
}

.message.isUsers.lastMessage:not(.firstMessage) .messageBody {
    border-top-right-radius: 2px;
}

/* Other users */ 

.message.isOthers.lastMessage .messageBody {
    border-bottom-left-radius: 18px;
}

.message.isOthers.firstMessage .messageBody {
    border-bottom-left-radius: 2px;
}

.message.isOthers:not(.firstMessage):not(.lastMessage) .messageBody {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.message.isOthers.lastMessage:not(.firstMessage) .messageBody {
    border-top-left-radius: 2px;
}

.senderName {
    color: rgba(0,0,0,0.6);
    font-size: small;
}