.chatUnauthorized {
    padding-top: var(--spacing);
    text-align: center;
    font-size: smaller;
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.chatTitleBarContainer {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    padding: var(--spacing);
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0,0,0,0.05);
    border-radius: 18px;
    border: none;
    height: 38px;
    padding: 7px 15px;
    white-space: nowrap;
    overflow-y: scroll;
    overflow: hidden;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--twitter-blue);
    font-size: 24px;
}

.chatMessages {
    display: flex;
    flex: 1;
    overflow-y: auto;
    flex-direction: column;
    padding: var(--spacing);
}