:root {
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0, 0.34);
    --transitionSetting: ease-in-out .2s;
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
    background-color: rgb(255,255,255);
}

.postBody:hover {
    cursor: pointer;
}

.headerLink {
    text-decoration: none;
    font-weight: bold;
    padding-right: 5px;
}

.headerLink:hover {
    text-decoration: underline;
}

.mainContentContainer {
    display: flex;
    flex: 1;
}

.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--greyText);
}

.username {
    padding-right: 10px;
}

.postFooter {
    align-items: center;
}

.postFooter .postButtonContainer {
    padding-top: 3px;
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.postFooter .postButtonContainer button {
    padding: 2px 0px;
}

button {
    background-color: transparent;
    border: none;
    color: var(--greyButtonText)
}

.likeButtonCount {
    padding-left: 4px;
}

.likeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 20px;
    max-width: 16px;
}

.commentButtonBlue:hover {
    color: var(--twitter-blue);
    transition: var(--transitionSetting);
}

.likeButtonRed {
    color: red;
}

.likeButtonHover:hover {
    color: red;
    transition: var(--transitionSetting);
}

.retweetButtonGreen {
    color: green;
}

.retweetButtonHover:hover {
    color: green;
    transition: var(--transitionSetting);
}

.postActionContainer {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 3px;
    font-size: 13px;
    color: var(--greyText);
    padding-bottom: 3px;
    
}

.postActionContainerLink {
    text-decoration: none;
    padding-right: 3px;
}

.postActionContainerLink:hover {
    text-decoration: underline;
    padding-right: 3px;
}

.postUserImageContainer {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
}

.postUserImageContainer img {
    width: 100%;
    height: 50px;
    border-radius: 50%;
    /* If the user uploads a PNG with a transparent background, need the background to be white as well. */
    background-color: white;
}

.postActionContainerIcon {
    padding-right: 3px;
}