:root {
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0,0,0, 0.34);
}

.post {
    display: flex;
    flex-direction: column;
    padding: var(--spacing);
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}

.headerLink {
    text-decoration: none;
    font-weight: bold;
    padding-right: 5px;
}

.headerLink:hover {
    text-decoration: underline;
}

.mainContentContainer {
    display: flex;
    flex: 1;
}


.postContentContainer {
    padding-left: var(--spacing);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.username,
.date {
    color: var(--greyText);
}

.username {
    padding-right: 10px;
}

.postFooter {
    align-items: center;
}

.postFooter .postButtonContainer {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.postFooter .postButtonContainer button {
    padding: 2px 5px;
}

button {
    background-color: transparent;
    border: none;
    color: var(--greyButtonText)
}

.postButtonContainer button:hover {
    background-color: #d4edff;
    color: var(--twitter-blue);
    border-radius: 50%;
}
