:root {
    --lightGrey: rgb(230, 236, 240);
    --spacing: 15px;
}

.titleContainerTitle {
    font-size: 19px;
    font-weight: 800;
    margin: 0;
    display: flex;
    align-items: center;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 55px;
    padding: 0px var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    justify-content: center;
}

.titleContainer h1 {
    flex: 1;
}

.profileBackArrow {
    margin-right: var(--spacing);
    padding: 4px;
}

.profileBackArrow:hover {
    padding: 4px;
    background-color: var(--lightGrey);
    border-radius: 50%;
    cursor: pointer;
    transition: ease-in-out background-color .25s;
}