    .userSearchCard {
        display: flex;
        flex-direction: column;
        background-color: #CBE5FE;
        border-radius: 7px;    
        box-shadow: 0 0 0 2px var(--blueLight);
        transition: box-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
        height: 90px;
        max-width: 100%;
        min-width: 100%;
    }
  
    .userSearchCardInfo {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  
    .userSearchCard:hover {
        box-shadow: 0 0 0 2px var(--greyText);
    }

    .userSearchCardIconContainer {
        display: flex;
        justify-content: flex-end;
        padding-right: 5px;
        padding-top: 5px;
    }

    .userSearchCardName {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }

    .userSearchCardUsername {
        font-size: 12px;
    }

